gradio==4.44.1
huggingface_hub>=0.23.4,<0.25.0
numpy
pandas
matplotlib
langchain
langchain-openai
langchain-community
langchain-core
langchain-text-splitters
faiss-cpu
sentence-transformers
pdfplumber
python-docx
beautifulsoup4
openpyxl
pyyaml
rapidfuzz
